/* shared styles */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;}
.button-style{
color: #FFF;
border-radius: 8px;
background: #E55473;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 10px 30px;
border: none;
margin-top: 30px;
}
/* header section styles */
header{
    background-color: #E554731A;
    margin-top: 0px;    
}
.header{
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 100px;
}
.header-title{
    height: 100px;
    width: 600px;
    padding-top: 0px;
    margin: 0px;
}
.header-description{
    color:#27272799;
font-size: 18px;
height: 100px;
width: 600px;
padding-top: 20px;
}
.header-pic{
    height: 500px;
    width: 450px;
}
/* featured flower style  */
.featured-content{
    text-align: center;
    margin-top: 100px;
}
.featured-text{
    color:#27272799;
font-size: 18px;
padding-top: 20px;
}
.flower-image{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.flower-image1{
    background-color: #fa98ad;
    height: 500px;
    width: 300px;
    margin: 20px;
    clip-path: ellipse(65% 50% at 50% 50%);
}
.flower-image3{
    background-color: #A7216226;
    height: 500px;
    width: 300px;
    margin: 20px;
    clip-path: ellipse(65% 50% at 50% 50%);   
}
.flower-image2{
    background-color: #477D1126;
    height: 500px;
    width: 300px;
    margin: 20px;
    clip-path: ellipse(65% 50% at 50% 50%);
}
/* Hot deal section styles */
    .hot-deal-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    align-items: center;
    background-color: #E554731A;
}
/* instagram styles */
.instagram-content{
    text-align: center;
}
.instagram-image{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.img{
    height: 196px;
    margin: 20px; 
}
.deals-section{
    margin-top: 300px;
    margin-bottom: 100px;
    text-align: center;
    background-image: url("flower-shop-assignment-main/Flower Asset/Rectangle 9.png");
    height: 450px; 
    width: 1350px;
    background-repeat: no-repeat;
}
.get-heading{
    padding-top: 150px;
    padding-bottom: 20px}
.input-email{
    padding-top: 3px;
    height: 40px;
    width: 700px;    
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 100px;
}
.footer-head-color{
    color: #E55473;
}